/***************************************************************************
                             Basic headers and text:
 ***************************************************************************/

body
{
    font-family: sans-serif;
    background: white;
}

h1,h2,h3
{
    color: #005aa0;
    text-align: left;
}

h1
{
    font-size: 175%;
}

h2
{
    font-size: 150%;
}

h3
{
    font-size: 120%;
}



/***************************************************************************
                               Program listings:
 ***************************************************************************/

pre.screen
{
    border: 1px solid #6185a0;
    padding: 6px 6px;
    margin-left: 3em;
    margin-right: 3em;
    color: #600000;
    background: #eeeeee;
    font-family: monospace;
    font-size: 90%;
}

/***************************************************************************
                        Links colors and highlighting: 
 ***************************************************************************/

a:link { color: #0048b3; }
a:visited { color: #002a6a; }
a:hover { background: #ffffcd; }


/***************************************************************************
                              Table of contents:
 ***************************************************************************/

.toc
{
    font-size: 80%;
}



/***************************************************************************
                               Special elements:
 ***************************************************************************/

tt
{
    color: #400000;
}

.term
{
    font-weight: bold;
    
}

div.variablelist dd
{
    margin-bottom: 1em;
}

.application
{
    font-style: italic;
}

.important 
{
    background-color: #ffcccc;
}

.availability
{
    font-style: italic;
}

.varname
{
    color: #400000;
}

/***************************************************************************
                               Table Layout
 ***************************************************************************/

*
div.informal table
{
  border: 1px solid #6185a0;
  width: 100%;
  border-spacing:0px;
  padding:0;
  margin:0;

}

div.informal td
{
  padding: 5px;
  border: 1px solid #6185a0;
}

div.informal th
{
  border: 1px solid white;
  color: white;
  padding: 5px;
  background: #005aa0;
  font-weight: normal;
  font-style: italic;
}
