Source: xjadeo
Section: sound
Priority: optional
Homepage: http://xjadeo.sf.net
Maintainer: Robin Gareus <robin@gareus.org>
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 7.0.50), imlib11-dev | libimlib2-dev, libxv-dev,
 libavcodec-dev, libavformat-dev, libavutil-dev, libswscale-dev,
 libjack-jackd2-dev | libjack-dev, libx11-dev, libfreetype6-dev,
 libportmidi-dev | libasound2-dev, libltc-dev | libltcsmpte-dev, libxpm-dev,
 liblo-dev, libqt4-dev

Package: xjadeo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: mencoder
Description: video player with jack sync
 xjadeo is a simple video player that synchronizes to an external time source. 
 Sync sources include MTC, LTC and JACK-transport.
 It has applications in soundtrack creation, video monitoring or any task that
 requires to associate movie frames with audio events.
 .
 For instance when a jack-client (like Muse, Rosegarden or Ardour) acts as a
 timebase master, xjadeo will display the video synchronized to jack transport.
 xjadeo is capable to read Midi Time Clock as an alternate sync source and comes
 along with an optional QT-GUI.
 .
 xjadeo reads only seekable media by default. Installing a transcoding utility
 like mencoder is highly recommended.
