#!/usr/bin/make -f

#export DH_VERBOSE=1

DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

config.status: configure
	dh_testdir

	CFLAGS="$(CFLAGS)" ./configure --host=$(DEB_HOST_GNU_TYPE) \
	--build=$(DEB_BUILD_GNU_TYPE) --prefix=/usr --mandir=\$${prefix}/share/man

build: build-stamp
build-stamp: config.status
	dh_testdir

	$(MAKE)

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp 
	rm -f xjadeo.png qjadeo.png xjadeo.desktop

	-$(MAKE) distclean

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	$(MAKE) install DESTDIR=$(CURDIR)/debian/xjadeo
	#install -m 644 doc/xjadeorc	$(CURDIR)/debian/xjadeo/etc/xjadeorc

# Build architecture-independent files here.
binary-indep: build install
	convert src/xjadeo/icons/xjadeo-color.xpm -resize 48x48! xjadeo.png
	convert src/qt-gui/images/qjadeo -resize 48x48! qjadeo.png
	# menu-entry
	echo "[Desktop Entry]" > xjadeo.desktop 
	echo "Encoding=UTF-8" >> xjadeo.desktop 
	echo "Name=xjadeo" >> xjadeo.desktop 
	echo "GenericName=X jack video monitor" >> xjadeo.desktop 
	echo "Comment=A simple video player that gets sync from jack transport." >> xjadeo.desktop 
	echo "Exec=/usr/bin/qjadeo" >> xjadeo.desktop 
	echo "Icon=qjadeo" >> xjadeo.desktop 
	echo "Terminal=False" >> xjadeo.desktop 
	echo "Type=Application" >> xjadeo.desktop 
	echo "Categories=Application;AudioVideo;Player;" >> xjadeo.desktop 

	install -dm 755 $(CURDIR)/debian/xjadeo/usr/share/pixmaps
	install -m 644 xjadeo.png 	$(CURDIR)/debian/xjadeo/usr/share/pixmaps
	install -m 644 qjadeo.png 	$(CURDIR)/debian/xjadeo/usr/share/pixmaps
	# menu-entry
	install -dm 755 $(CURDIR)/debian/xjadeo/usr/share/applications
	install -m 644 xjadeo.desktop	$(CURDIR)/debian/xjadeo/usr/share/applications/xjadeo.desktop
	rm -f xjadeo.png qjadeo.png xjadeo.desktop

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs ChangeLog
	dh_installdocs
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install 
